<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{ "/assets/img/avatarsquare.png"}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my projetcts" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="Contact me on LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
                <svg class="icon icon-linkedin-alt"><use xlink:href="#icon-linkedin-alt"></use></svg>
            </a>
            <a aria-label="My HackerRank" title="Look me up in Hacker Rank" target="_blank" href="https://www.hackerrank.com/{{site.hackerrank_username}}">
                <svg class="icon icon-hackerrank"><use xlink:href="#icon-hackerrank"></use></svg>
            </a>
        </div>

        <!--<ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:10%}
                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>-->

        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:10%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
